
h5 {
    color: #3880ff;
    font-size: 13px;
    text-align: center;
  }
  
.counter {
    color: crimson;
    font-size: 40px;
    text-align: center;
  }

.correct {
    --background: green;
  }
  
  .wrong {
    --background: red;
  }

  .verdict {
    color:darkorange
  }
  